<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>{{title}}</title>
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="../../styles/general.css" />
    <link rel="stylesheet" href="../../styles/typography.css" />
    <link rel="stylesheet" href="../../styles/utilities.css" />
    <link rel="stylesheet" href="../../styles/main.css" /> -->
    <title>{{ title }}</title>

    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/reveal.css" />
    <!-- <link rel="stylesheet" href="styles/custom.css" /> -->
    <link rel="stylesheet" href="styles/theme/{{ theme }}.css" />

    <!-- Theme used for syntax highlighted code -->
    <link rel="stylesheet" href="plugin/highlight/monokai.css" />
  </head>
  <body class="no-js reveal-viewport">
    <!-- -->
    {% macro applyData(data) %} {% for s in data %} {{s}} {% endfor %} {%
    endmacro %}
    <main class="reveal visible">
      <div class="slides">
        {% for slide in collections.slides %}
        <section id="slide-{{loop.index}}" {{ applyData(slide.data.custom) }}>
          {{ slide.content | safe}}
          <aside class="controls custom-controls" style="display: block">
            {% if loop.index > 1 %}
            <a
              href="#/slide-{{loop.index - 1}}"
              class="navigate-left enabled"
              aria-label="previous slide"
            >
              <div class="controls-arrow"></div>
            </a>
            {% endif %} {% if loop.index < loop.length %}
            <a
              href="#/slide-{{loop.index + 1}}"
              class="navigate-right enabled"
              aria-label="next slide"
            >
              <div class="controls-arrow"></div>
            </a>
            {% endif %}
          </aside>
        </section>
        {% endfor %}
      </div>
    </main>
    <script>
      document.body.setAttribute("class", "");
      document.querySelector("main.reveal").classList.remove("visible");
      document
        .querySelectorAll(".custom-controls ")
        .forEach((customControl) => customControl.remove());
      document
        .querySelectorAll(".slides > section")
        .forEach((slide) => slide.removeAttribute("id"));
    </script>
    <script src="scripts/reveal.js"></script>
    <!-- <script src="plugin/notes/notes.js"></script> -->
    <script src="plugin/markdown/markdown.js"></script>
    <script src="plugin/highlight/highlight.js"></script>
    <script>
      // More info about initialization & config:
      // - https://revealjs.com/initialization/
      // - https://revealjs.com/config/
      Reveal.initialize({
        hash: true,

        // Learn about plugins: https://revealjs.com/plugins/
        plugins: [RevealMarkdown, RevealHighlight /*, RevealNotes */],
      });
    </script>
  </body>
</html>
