:root {
    --s1: 1em;

    --size-step--1: clamp(0.80rem, calc(0.77rem + 0.17vw), 0.90rem);
    --size-step-0: clamp(1.00rem, calc(0.96rem + 0.22vw), 1.13rem);
    --size-step-1: clamp(1.25rem, calc(1.20rem + 0.27vw), 1.41rem);
    --size-step-2: clamp(1.56rem, calc(1.49rem + 0.34vw), 1.76rem);
    --size-step-3: clamp(1.95rem, calc(1.87rem + 0.42vw), 2.20rem);
    --size-step-4: clamp(2.44rem, calc(2.33rem + 0.53vw), 2.75rem);
}

h1#title {
  font-size: 80px;
  text-align: center;
  /* max-width: 19ch; */
  color: #bfe6ba;
  color: #9fe19f;
}
h2#title {
  text-align: center;
}

h2 {
  font-size: var(--size-step-3);
}

h3 {
  font-size: var(--size-step-2);
}

section:target {
    display: block!important;
    pointer-events: auto!important;

    display: flex !important;
    flex-direction: column;
    justify-content: start;
    height: 100%;
}

section:target section {
    display: block!important;
    position: relative !important;
}

.reveal.visible {
    overflow: unset;
    pointer-events: all;
}

html {
    height: 100vh
}

.reveal .custom-controls > a {
    position: absolute;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: currentColor;
    transform: scale(.9999);
    transition: color .2s ease,opacity .2s ease,transform .2s ease;
    z-index: 2;
    pointer-events: auto;
    font-size: inherit;
    visibility: hidden;
    opacity: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.box {
    /* ↓ Padding set to the first point on the modular scale */
    padding: var(--s1);
    /* ↓ Assumes you have a --border-thin var */
    border: var(--border-thin) solid;
    /* ↓ Always apply the transparent outline, for high contrast mode */
    outline: var(--border-thin) transparent;
    outline-offset: calc(var(--border-thin) * -1);
    /* ↓ The light and dark color vars */
    /* --color-light: #fff;
    --color-dark: #000;
    color: var(--color-dark); */
    /* background-color: var(--color-light); */
  }
  .box * {
    /* ↓ Force colors to inherit from the parent and honor inversion (below) */
    color: inherit;
  }
  .box.invert {
    /* ↓ The color vars inverted */
    color: var(--color-light);
    background-color: var(--color-dark);
  }

  h2 span {
    text-transform: lowercase;
  }