/**
 * White compact & high contrast reveal.js theme, with headers not in capitals.
 *
 * By Peter Kehl. Based on white.(s)css by Hakim El Hattab, http://hakim.se
 *
 * - Keep the source similar to black.css - for easy comparison.
 * - $mainFontSize controls code blocks, too (although under some ratio).
 */
 @import url(./fonts/source-sans-pro/source-sans-pro.css);
 section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
   color: #fff;
 }

 @import url(https://fonts.bunny.net/css?family=azeret-mono:700|space-mono:400|ubuntu-mono:400|mogra:400);
 
 /*********************************************
  * GLOBAL STYLES
  *********************************************/
 :root {
   --r-background-color: #333;
   /* --r-main-font: Source Sans Pro, Helvetica, sans-serif; */
   --r-main-font: 'Ubuntu Mono', monospace;
   --r-main-font-size: 42px;
   --r-main-color: #eee;
   --r-block-margin: 20px;
   --r-heading-margin: 0 0 20px 0;
   /* --r-heading-font: Source Sans Pro, Helvetica, sans-serif; */
   --r-heading-font:  'Space Mono', monospace;
   --r-heading-color: #eee;
   --r-heading-line-height: 1.2;
   --r-heading-letter-spacing: normal;
   --r-heading-text-transform: uppercase;
   --r-heading-text-shadow: none;
   --r-heading-font-weight: 600;
   --r-heading1-text-shadow: none;
   --r-heading1-size: 2em;
   --r-heading2-size: 1.6em;
   --r-heading3-size: 1.3em;
   --r-heading4-size: 1em;
   --r-code-font: monospace;
   --r-link-color: #d900ff;
   --r-link-color-dark: #ff0098;
   --r-link-color-hover: #ff0098;
   /* --r-link-color: #2a76dd;
   --r-link-color-dark: #1a53a1;
   --r-link-color-hover: #6ca0e8; */
   /* --r-selection-background-color: #98bdef; */
   --r-selection-background-color: #d900ff;
   --r-selection-color: #fff;


   --color-primary: #d900ff;
   --color-secondary: #ff0098;
 }

.crypto-key {
    position: relative;
  width: 200px;
  height: 66px;
  background: var(--color-primary);
  clip-path: polygon(0% 100%, 0% 50%, 56% 50%, 56% 0%, 100% 0%,100% 100%, 56% 100%, 56% 75%, 42% 75%, 42% 100%, 28% 100%, 28% 75%, 14% 75%, 14% 100%);

}

.crypto-key::after {
    content: "";
    width: 14%;
    height: 50%;
    position: absolute;
    inset-inline-end: 14%;
    inset-block-start: 25%;
    background-color: #333;
}

.crypto-mask {
    position: relative;
    width: 200px;
    height: 85px;
    background: var(--color-primary);
    clip-path: polygon(5% 100%, 5% 85%, 0% 85%, 0% 15%, 5% 15%, 5% 10%, 5% 0%, 95% 0%, 95% 15%, 100% 15%, 100% 85%, 95% 85%, 95% 100%, 65% 100%, 65% 85%, 60% 85%, 60% 50%, 40% 50%, 40% 85%, 35% 85%, 35% 100%);
}
.crypto-mask::before {
    content: "";
    width: 14%;
    height: 45%;
    position: absolute;
    inset-inline-start: 14%;
    inset-block-start: 25%;
    background-color: #333;
}
.crypto-mask::after {
    content: "";
    width: 14%;
    height: 45%;
    position: absolute;
    inset-inline-end: 14%;
    inset-block-start: 25%;
    background-color: #333;
}

strong {
 background-color: #d900ff;
 color: #fff;
}

ul {
    list-style-type: square !important;
}
li::marker {
    color: var(--color-primary)
}

 p, ul, li {
    text-align: start;
 }

 .reveal li a {
  text-decoration: underline;
  text-decoration-color: var(--color-secondary);
 }

 h1, h2, h3, h4 {
  text-decoration: underline;
  text-decoration-color: var(--color-secondary);
 }

 .reveal-viewport {
   background: #fff;
   background-color: var(--r-background-color);
 }
 
 .reveal {
   font-family: var(--r-main-font);
   font-size: var(--r-main-font-size);
   font-weight: normal;
   color: var(--r-main-color);
 }
 
 .reveal ::selection {
   color: var(--r-selection-color);
   background: var(--r-selection-background-color);
   text-shadow: none;
 }
 
 .reveal ::-moz-selection {
   color: var(--r-selection-color);
   background: var(--r-selection-background-color);
   text-shadow: none;
 }
 
 .reveal .slides section,
 .reveal .slides section > section {
   line-height: 1.3;
   font-weight: inherit;
 }
 
 /*********************************************
  * HEADERS
  *********************************************/
 .reveal h1,
 .reveal h2,
 .reveal h3,
 .reveal h4,
 .reveal h5,
 .reveal h6 {
   margin: var(--r-heading-margin);
   color: var(--r-heading-color);
   font-family: var(--r-heading-font);
   font-weight: var(--r-heading-font-weight);
   line-height: var(--r-heading-line-height);
   letter-spacing: var(--r-heading-letter-spacing);
   text-transform: var(--r-heading-text-transform);
   text-shadow: var(--r-heading-text-shadow);
   word-wrap: break-word;
 }
 
 .reveal h1 {
   font-size: var(--r-heading1-size);
 }
 
 .reveal h2 {
   font-size: var(--r-heading2-size);
 }
 
 .reveal h3 {
   font-size: var(--r-heading3-size);
 }
 
 .reveal h4 {
   font-size: var(--r-heading4-size);
 }
 
 .reveal h1 {
   text-shadow: var(--r-heading1-text-shadow);
 }
 
 /*********************************************
  * OTHER
  *********************************************/
 .reveal p {
   margin: var(--r-block-margin) 0;
   line-height: 1.3;
 }
 
 /* Remove trailing margins after titles */
 .reveal h1:last-child,
 .reveal h2:last-child,
 .reveal h3:last-child,
 .reveal h4:last-child,
 .reveal h5:last-child,
 .reveal h6:last-child {
   margin-bottom: 0;
 }
 
 /* Ensure certain elements are never larger than the slide itself */
 .reveal img,
 .reveal video,
 .reveal iframe {
   max-width: 95%;
   max-height: 95%;
 }
 
 .reveal strong,
 .reveal b {
   font-weight: bold;
 }
 
 .reveal em {
   font-style: italic;
 }
 
 .reveal ol,
 .reveal dl,
 .reveal ul {
   display: inline-block;
   text-align: left;
   margin: 0 0 0 1em;
 }
 
 .reveal ol {
   list-style-type: decimal;
 }
 
 .reveal ul {
   list-style-type: disc;
 }
 
 .reveal ul ul {
   list-style-type: square;
 }
 
 .reveal ul ul ul {
   list-style-type: circle;
 }
 
 .reveal ul ul,
 .reveal ul ol,
 .reveal ol ol,
 .reveal ol ul {
   display: block;
   margin-left: 40px;
 }
 
 .reveal dt {
   font-weight: bold;
 }
 
 .reveal dd {
   margin-left: 40px;
 }
 
 .reveal blockquote {
   display: block;
   position: relative;
   width: 70%;
   margin: var(--r-block-margin) auto;
   padding: 5px;
   font-style: italic;
   background: rgba(255, 255, 255, 0.05);
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
 }
 
 .reveal blockquote p:first-child,
 .reveal blockquote p:last-child {
   display: inline-block;
 }
 
 .reveal q {
   font-style: italic;
 }
 
 .reveal pre {
   display: block;
   position: relative;
   width: 90%;
   margin: var(--r-block-margin) auto;
   text-align: left;
   font-size: 0.55em;
   font-family: var(--r-code-font);
   line-height: 1.2em;
   word-wrap: break-word;
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
 }
 
 .reveal code {
   font-family: var(--r-code-font);
   text-transform: none;
   tab-size: 2;
 }
 
 .reveal pre code {
   display: block;
   padding: 5px;
   overflow: auto;
   max-height: 400px;
   word-wrap: normal;
 }
 
 .reveal .code-wrapper {
   white-space: normal;
 }
 
 .reveal .code-wrapper code {
   white-space: pre;
 }
 
 .reveal table {
   margin: auto;
   border-collapse: collapse;
   border-spacing: 0;
 }
 
 .reveal table th {
   font-weight: bold;
 }
 
 .reveal table th,
 .reveal table td {
   text-align: left;
   padding: 0.2em 0.5em 0.2em 0.5em;
   border-bottom: 1px solid;
 }
 
 .reveal table th[align=center],
 .reveal table td[align=center] {
   text-align: center;
 }
 
 .reveal table th[align=right],
 .reveal table td[align=right] {
   text-align: right;
 }
 
 .reveal table tbody tr:last-child th,
 .reveal table tbody tr:last-child td {
   border-bottom: none;
 }
 
 .reveal sup {
   vertical-align: super;
   font-size: smaller;
 }
 
 .reveal sub {
   vertical-align: sub;
   font-size: smaller;
 }
 
 .reveal small {
   display: inline-block;
   font-size: 0.6em;
   line-height: 1.2em;
   vertical-align: top;
 }
 
 .reveal small * {
   vertical-align: top;
 }
 
 .reveal img {
   margin: var(--r-block-margin) 0;
 }
 
 /*********************************************
  * LINKS
  *********************************************/
 .reveal a {
   color: var(--r-link-color);
   text-decoration: none;
   transition: color 0.15s ease;
 }
 
 .reveal a:hover {
   color: var(--r-link-color-hover);
   text-shadow: none;
   border: none;
 }
 
 .reveal .roll span:after {
   color: #fff;
   background: var(--r-link-color-dark);
 }
 
 /*********************************************
  * Frame helper
  *********************************************/
 .reveal .r-frame {
   border: 4px solid var(--r-main-color);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
 }
 
 .reveal a .r-frame {
   transition: all 0.15s linear;
 }
 
 .reveal a:hover .r-frame {
   border-color: var(--r-link-color);
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
 }
 
 /*********************************************
  * NAVIGATION CONTROLS
  *********************************************/
 .reveal .controls {
   color: var(--r-link-color);
 }
 
 /*********************************************
  * PROGRESS BAR
  *********************************************/
 .reveal .progress {
   background: rgba(0, 0, 0, 0.2);
   color: var(--r-link-color);
 }
 
 /*********************************************
  * PRINT BACKGROUND
  *********************************************/
 @media print {
   .backgrounds {
     background-color: var(--r-background-color);
   }
 }